<div class="well top-margin">
    <h4>Historyjka</h4>
    <form class="form">
        <div class="form-group">
            <input name="title" type="text" class="form-control"
                   placeholder="Podaj tytuł" ng-model="storyboardCtrl.currentStory.title">
        </div>
        <div class="form-group">
            <textarea name="description" rows="4" class="form-control"
                      placeholder="Podaj opis" ng-model="storyboardCtrl.currentStory.description"/>
        </div>
        <div class="form-group">
            <select name="status" class="form-control" ng-model="storyboardCtrl.currentStory.status"
                ng-options="status.name as status.name for status in storyboardCtrl.storyStatus">
            </select>
        </div>
        <div class="form-group">
            <select name="type" class="form-control" ng-model="storyboardCtrl.currentStory.type"
                    ng-options="type.name as type.name for type in storyboardCtrl.storyType">
            </select>
        </div>
        <div class="form-group">
            <select name="reporter" class="form-control" ng-model="storyboardCtrl.currentStory.reporter"
                    ng-options="user._id as (user.firstName + ' ' + user.lastName) for user in storyboardCtrl.users">
            </select>
        </div>
        <div class="form-group">
            <select name="assignee" class="form-control" ng-model="storyboardCtrl.currentStory.assignee"
                    ng-options="user._id as (user.firstName + ' ' + user.lastName) for user in storyboardCtrl.users">
            </select>
        </div>
        <button type="button" class="btn btn-default" ng-click="storyboardCtrl.save()"
                ng-disabled="!storyboardCtrl.currentStory">Zapisz</button>
    </form>
</div>

<div class="row">
    <div class="col-md-3 storyboard-column" ng-repeat="status in storyboardCtrl.storyStatus">
        <div class="status-header">
            {{ status.name }}
        </div>
        <div class="story"
             ng-repeat="story in storyboardCtrl.stories | filter: {status: status.name}"
             ng-click="storyboardCtrl.setCurrentStory(story)">
            <div class="story-title">{{ story.title }}</div>
            <p><strong>Id:</strong> {{ story._id}}</p>
            <strong>Opis:</strong>
            <p>{{ story.description }}</p>
        </div>
    </div>
</div>
